web/node_modules
web/build
**/.idea
**/.settings
**/.classpath
**/.project
*.swp
*.~ava
*.iml

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr

### VS Code ###
.vscode/