.sideBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 320px;
}

.sideBox > h2 {
  font-size: 2em;
}

.sideBox.blue > span,
.sideBox.blue > h2 {
  color: white;
}

.sideBox > span > p {
  text-align: center;
}

.sideBox.blue {
  background-color: var(--highlighting);
}

.sideBox.smol {
  width: 35%;
}

.sideBox.big {
  width: 65%;
}

.sideBox.normal {
  width: 50%;
}
