/* table {
  border-collapse: collapse;
  border: 1px solid black;
  border: none;
}

.table {
  max-height: 50%;
  overflow-y: scroll;
}

th {
  background: var(--input);
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
}

th,
td {
  padding: 0.5em;
  text-align: center;
}

tr.link:hover {
  color: var(--border);
  cursor: pointer;
}

td > .checkbox {
  font-size: 1.2em;
}

th > label {
  display: block;
  cursor: pointer;
}
 */
.table {
  height: 50%;
  font-size: 1rem;
  text-align: left;
  border: none;
  overflow-y: scroll;
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  padding: 0.5em;
}

table thead th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  top: 0;
  padding-right: 2em;
  position: sticky;
  border: none;
  border-bottom: 1px solid black;
  background: var(--input);
}

.table > label {
  cursor: pointer;
}

.sortIcon {
  position: absolute;
  margin-top: 0.25em;
  margin-left: 0.1em;
  color: var(--border);
}

.sortIcon.active {
  color: black;
}

th > label > span::selection {
  background: none;
}
